* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background: linear-gradient(to bottom right, #d2e9ff, #ffffff);
}


.left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.left img {
    width: 100%;
    max-width: 500px;
    object-fit: cover;
}


.right {
    width: 50%;
    padding: 60px 90px;
    background: #ffffff;
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}


.login-btn {
    position: absolute;
    top: 30px;
    right: 40px;
    border: 1px solid #333;
    background: transparent;
    padding: 8px 25px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 13px;
}

h1 {
    color: #5aa4e8;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}


.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;
}

.input-field label {
    font-size: 12px;
    margin-bottom: 5px;
    color: #555;
}

.input-field input {
    padding: 12px;
    border: 1px solid #777;
    border-radius: 5px;
    font-size: 14px;
}

/* CHECKBOX AREA */
.check-area {
    display: flex;
    align-items: center;
    margin: 10px 0 20px 0;
}

.check-area label {
    margin-left: 8px;
    font-size: 12px;
    color: #444;
}


button[type="submit"] {
    width: 100%;
    padding: 12px;
    background: #222;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    font-size: 14px;
}


.or-text {
    text-align: center;
    margin: 15px 0;
    font-size: 14px;
    color: #444;
}


.social-button {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5px;
}

.social-button img {
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: 0.2s;
}

.social-button img:hover {
    scale: 1.1;
}


.footer {
    margin-top: auto;
    text-align: center;
    font-size: 11px;
    color: #777;
}
